Today_04_Apr_2024/pkgs/Wadl/SendEmail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendEmail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Send Email" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__To_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_1_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_2_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_3_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_4_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_5_def" />
      <object name="ManualTriggerInput">
        <property name="Sendanemail(V2)_To" type="string" />
        <property name="Sendanemail(V2)_Body" type="string" />
        <property name="Sendanemail(V2)_Body_1" type="string" />
        <property name="Sendanemail(V2)_Body_2" type="string" />
        <property name="Sendanemail(V2)_Body_3" type="string" />
        <property name="Sendanemail(V2)_Body_4" type="string" />
        <property name="Sendanemail(V2)_Body_5" type="string" />
      </object>
      <string name="ResponseActionOutput_output_def" />
      <object name="ResponseActionOutput">
        <property name="output" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Sendanemail(V2)_To" path="/Sendanemail(V2)_To" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body" path="/Sendanemail(V2)_Body" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body_1" path="/Sendanemail(V2)_Body_1" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body_2" path="/Sendanemail(V2)_Body_2" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body_3" path="/Sendanemail(V2)_Body_3" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body_4" path="/Sendanemail(V2)_Body_4" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body_5" path="/Sendanemail(V2)_Body_5" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>